.containerFoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  color: rgba(115, 115, 115, 1);
  margin-bottom: 6vw;
}
.linksContainer {
  border: none !important;
}
.linksContainer :global(.ant-menu-item) {
  color: rgba(115, 115, 115, 1);
}
.linksContainer :global(.ant-menu-item::after) {
  border-bottom: none !important;
}