.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 27vw;
  gap: 2vw;
 
}
.textGrey {
  color: rgb(119, 119, 119);
  padding: 1vw;
}
.resetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6vw;
  width: 100%;
   padding: 2vw 3vw;
  border: 1px solid rgba(219, 219, 219, 1);
}
.forma {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 100%;
}
