.exploreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vw 0 6vw;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.imgExplore {
  width: 316px;
  height: 316px;
  object-fit: cover;
  display: block;
  cursor: pointer;
}
.tall {
  height: 636px;
  grid-row: span 2;
}
.postBtn {
  border: none;
}
.postBtn:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
@media(max-width: 750px){
  .exploreContainer{
    margin-top: 35px;
  }
}