.containerExplore {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 3vw 2vw 15vw 2vw;
  gap: 6vw;
}
.topProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}
.bioText {
  white-space: pre-wrap;
  font-size: 1.2rem;
  margin-bottom: 1.5vw;
}
.linkBio{
  color: rgba(0, 55, 107, 1);
  font-weight: 600;
  text-decoration: none;
}
.btnMore{
  border: none;
  background-color: transparent;
  color: rgba(115, 115, 115, 1);
}
.rightTop {
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
}
.fotoflex {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.postBtn{
  border: none;
  cursor: pointer;
}
.postBtn:hover{
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.imgExplore {
  height: 307px;
  width: 307px;
  object-fit: cover;
}
