.emojiPicker {
  position: absolute;
  bottom: 60px;
  left: 10px;
  z-index: 2;
}
.textarea {
  resize: none;
  width: 100%;
  height: 50px;
  padding: 17px 0;
  overflow-y: auto;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}
.form {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid rgba(219, 219, 219, 1);
  display: flex;
  padding: 0 15px;
  gap: 10px;
  position: relative;
}
.emojiBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
}

