.secondLeftWindow {
    position: absolute;
    width: 397px;
    height: 100%;
    z-index: 5;
    background-color: white;
    padding: 20px 24px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.closeBtn{
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.closeBtn:hover{
  color: red;
}
.newText{
  margin: 16.5px 0 24px;
}
.allNotification{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.notificatContainer{
  display: flex;
  justify-content: space-between;
}
.flexNotific{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.redText{
background-color: rgb(238, 8, 8, 0.1);
border-radius: 20px;
}
.imgPost{
  width: 44px;
  height: 44px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}
.moreBtn{
  padding: 5px;
  bottom: auto;
}
@media (max-width: 900px){
  .secondLeftWindow{
    width: 280px;
    padding-top: 50px;
  }
}