.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.error {
  color: red;
}
.inputGray{
  border: 1.7px solid  rgba(219, 219, 219, 1);
  background-color: rgba(250, 250, 250, 1);
  padding: 11px 8px;
}
.inputGray::placeholder {
  color: rgba(115, 115, 115, 1);
}